version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: dokumen-keuangan-backend
    restart: unless-stopped
    ports:
      - "8001:8081"
    environment:
      - APP_PORT=8081
      - DB_HOST=dokumen-keuangan-database-up1ivd
      - DB_PORT=5432
      - DB_USERNAME=dokumen_user
      - DB_PASSWORD=Fr3aks@16121899
      - DB_DATABASE=dokumen_db
      - JWT_SECRET=dokumen_rahasia_key_2025
    volumes:
      - backend_storage:/app/storage
    networks:
      - dokploy-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: dokumen-keuangan-frontend
    restart: unless-stopped
    ports:
      - "3002:80"
    depends_on:
      - backend
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  backend_storage:
